.assignment-status {
	display: flex;
	justify-content: space-between;
	width: 94px;
	color: #ffffff;
	padding: 4px 8px;
	border-radius: 4px;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	@media screen and (max-width: 1040px) {
		padding: 3px 6px;
		font-size: 12px;
		line-height: 14px;
		width: 82px;
	}
	&--ready {
		background-color: var(--main-green);
	}
	&--opened {
		background-color: var(--survey-blue);
	}
	&--in-process {
		background-color: var(--main-orange);
	}
	&--closed {
		background-color: var(--pale-grey);
	}
	.icon {
		stroke: #ffffff;
		color: transparent;
		width: 16px !important;
		height: 16px !important;
	}
}
.assignment-tag {
	display: flex;
	align-items: center;
	gap: 4px;
	color: var(--main-grey);
	background-color: #F2F4F5;
	padding: 4px 8px;
	border-radius: 4px;
	font-style: normal;
	white-space: nowrap;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	P {
		text-transform: uppercase;
	}
	@media screen and (max-width: 1040px) {
		padding: 3px 6px;
		font-size: 12px;
		line-height: 14px;
	}
	.icon {
		color: var(--main-grey);
		width: 9px !important;
		height: 9px !important;
	}
}
.assignment-add {
	padding: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 28px;
	height: 20px;
	background-color: var(--survey-blue);
	border: none;
	border-radius: 4px;
	@media screen and (max-width: 1040px) {
		padding: 0px 6px;
	}
	.icon {
		color: #ffffff;
		width: 16px !important;
		height: 16px !important;
	}
}