.side-sheet-top {
	&__text {
		background: #264152;
		border-radius: 4px;
		padding: 3px 6px 2px; 
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		color: #FFFFFF;
		margin-left: 12px;
		margin-right: auto;
		@media screen and (max-width: 744px) {
			margin-left: auto;
			margin-right: 0;
			font-weight: 500;
			font-size: 12px;
			line-height: 14px;
			padding: 1px 4px;
		}
	}
}
.side-sheet  {
	&__container {
		margin-bottom: 16px;
	}
	&__container-mb24 {
		margin-bottom: 24px;
		@media screen and (max-width: 744px) {
			margin-bottom: 16px;
		}
	}
}

.privat-chat-participants-list {
	flex-grow: 1;
	overflow-y: auto;
	margin-top: 16px;
	@media (max-width:992px) {
		padding-right:5px;
		padding-left: 5px;
	}
}
.wrap-pb4 {
	padding-bottom: 4px;
}
.privat-chat-participant {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
	.sender {
		margin: 0 !important;
	}
	.btn {
		padding: 0;
		border: none;
	}
	.icon {
		fill: #EB3333;
		width: 24px;
		height: 24px;
	}
	&__delete{
		margin-left: 16px;
	}
	&__add-chat {
		margin-left: auto;
	}
}