.chat,
.private-chat-block {
	height: 100%;
	&__block-of-messages {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 16px;
		& + .chat__date {
			margin-top: -8px;
		}
		&--last {
			margin-bottom: 24px;
		}
	}
	&__date {
		align-self: center;
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
		color: var(--main-grey);
		margin-bottom: 16px;
		background-color: #f5f9fc;
		border-radius: 4px;
		padding: 4px 6px;
	}
	height: 100%;
	&__messages {
		display: flex;
		flex-direction: column;
		background-color: var(--grey-blue);
		padding: 20px 20px 0;
		overflow-y: scroll;
		height: calc(100% - 64px);
		@media screen and (max-width: 744px) {
			padding: 20px 16px 0;
			height: calc(100% - 40px);
		}
	}
	&__sender-wrap {
		margin-bottom: 11px;
	}
	&__chat-bar {
		padding: 17px 20px;
		@media screen and (max-width: 744px) {
			padding: 8px 16px;
			img {
				width: 24px;
			}
		}
		.btn {
			padding: 0;
			border: none;
		}
		display: flex;
		align-items: center;
		background-color: #ffffff;
		padding: 17px 32px 17px 20px;
		textarea {
			flex-grow: 2;
			border: none;
			margin-left: 11px;
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 130%;
			resize: none;
			height: 30px;
			padding-right: 16px;
			padding-top: 4px;
			padding-bottom: 4px;
			&::placeholder {
				color: var(--pale-grey);
			}
			&:focus {
				outline: none;
			}
			@media screen and (max-width: 744px) {
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 16px;
				height: 24px;
			}
		}
	}
}
.new-message-line {
	padding-top: 4px;
	margin-bottom: 16px;
	.chat__date + &,
	.private-chat-block__date + & {
		margin-top: -10px;
	}
	border-top: 1px solid var(--survey-blue);
	&__text {
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
		text-align: center;
		color: #33b4ff;
	}
}
.sender {
	display: flex;
	// margin-bottom: 11px;
	&__avatar {
		overflow: hidden;
		border-radius: 50%;
		height: 35px;
		width: 35px;
		left: 0px;
		img {
			height: 35px;
		}
	}
	&__name-and-position {
		margin-left: 8px;
		font-style: normal;
	}
	&__name {
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		margin-bottom: 1px;
	}
	&__position {
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
		color: var(--main-grey);
		& > * {
			padding-right: 16px;
			position: relative;
			&:last-child {
				padding-right: 0;
				&::after {
					display: none;
				}
			}
			&::after {
				content: "";
				position: absolute;
				border-left: 1px solid #ccd9e0;
				width: 0;
				height: 12px;
				top: 50%;
				right: 8px;
				transform: translateY(-50%);
			}
		}
	}
}
