extends ../layout/main.pug
include ../blocks/chat/_chat.pug

block variables
	- let  mainPage= null
	- let  bg= null
block title
	- let  title= index.head.title
	title= title
	- let bigtext = `<a href='#'>@Пользователь</a>, consectetur adipiscing elit. Morbi vel mi gravida, tincidunt nulla nec, porttitor libero. Vestibulum ut libero vel nunc hendrerit ullamcorper id eu lacus. Curabitur id eleifend nibh.`
	- let question = 'Запакеровались на глубине 1754.2 м. Что делаем дальше?'
block pagecontent
	.container(style="background-color: var(--main-grey); height: 100vh;")
		.pt-3.pb-3(style="height: 100%")
			+chat()