extends ../layout/main.pug

//- include ../blocks/header/_header.pug
//- include ../blocks/messages/_messages.pug
//- include ../blocks/chat/_chat.pug
//- include ../blocks/topLine/_topLine.pug
//- include ../blocks/top-nav/_top-nav.pug 
//- include ../blocks/headerBlock/_headerBlock.pug
//- include ../blocks/sForm/_sForm.pug
//- include ../blocks/sContent/_sContent.pug
 
//- include ../blocks/sContact/_sContact.pug
//- include ../blocks/sForm/_sForm.pug
//- include ../blocks/sForm/_sForm.pug
//- include ../blocks/sCatalog/_sCatalog.pug

block variables
	- let  mainPage= null
	- let  bg= null

block title
	- let  title= 'Главная'
	title= title
block pagecontent
	p список на странице <a href="pages.html">pages.html</a>
	//- +mob-mnu()
	
	
	//- +header()
	//- +top-nav()
	//- +topLine
	//- +headerBlock 
	//- +sCatalog
	//- +sForm()
	//- +sContact()
	
	//- +footer()
      



