extends ../layout/main.pug
include ../blocks/messages/_messages.pug

block variables
	- let  mainPage= null
	- let  bg= null
	- let bigtext = `<a href='#'>@Пользователь</a>, consectetur adipiscing elit. Morbi vel mi gravida, tincidunt nulla nec, porttitor libero. Vestibulum ut libero vel nunc hendrerit ullamcorper id eu lacus. Curabitur id eleifend nibh.`
	- let question = 'Запакеровались на глубине 1754.2 м. Что делаем дальше?'
block title
	- let  title= index.head.title
	title= title
block pagecontent
	.p-5
		.row
			.col-lg-6.p-2(style="background-color: grey")
				h3.mb-2 Входящие
				h4.mt-2.mb-2 Короткое сообщение
				+message("incoming", "Что с давлением?", "15.08.2022 14:48")
				h4.mt-2.mb-2 Длинное сообщение
				+message("incoming", bigtext, "15.08.2022 14:48")
				h4.mt-2.mb-2 Сообщение с документом
				+message("incoming", bigtext, "15.08.2022 14:48", true)
				h4.mt-2.mb-2 Сообщение с таблицей
				+message("incoming", bigtext, "15.08.2022 14:48", false, true)
				h4.mt-2.mb-2 Сообщение my request
				+message("incoming", bigtext, "15.08.2022 14:48", false, false, true, false, "До 14.09.2022")
				h4.mt-2.mb-2 Сообщение another request
				+message("incoming", bigtext, "15.08.2022 14:48", false, false, false, true, "До 14.09.2022")
				h4.mt-2.mb-2 Ответ на запрос с решением
				+message("incoming", bigtext, "15.08.2022 14:48", true, false, false, false, "До 14.09.2022", false, true, true, "14.09.2022")
				h4.mt-2.mb-2 Ответ на сообщение
				+message("incoming", bigtext, "15.08.2022 14:48", true, false, false, false, "До 14.09.2022", true, false, true, "14.09.2022", true)
				h4.mt-2.mb-2 Результаты опроса
				+message("incoming", question, "15.08.2022 14:48", false, false, false, false, "До 14.09.2022", false, false, false, "14.09.2022", false, true)
				h4.mt-2.mb-2 Опрос до выбора ответа
				+message("incoming", question, "15.08.2022 14:48", false, false, false, false, "До 14.09.2022", false, false, false, "14.09.2022", false, false, true)
				h4.mt-2.mb-2 Анонимный опрос с единственным вариантом ответа
				+message("incoming", question, "15.08.2022 14:48", false, false, false, false, "До 14.09.2022", false, false, false, "14.09.2022", false, false, false, true)
			.col-lg-6.p-2
				h3.mb-2 Исходящие
				h4.mt-2.mb-2 Короткое сообщение
				+message("incomin", "Lorem ipsum dolor sit amet", "15.08.2022 14:48")
				h4.mt-2.mb-2 Длинное сообщение
				+message("incomin", bigtext, "15.08.2022 14:48")
				h4.mt-2.mb-2 Сообщение с документом
				+message("incomin", bigtext, "15.08.2022 14:48", true)
				h4.mt-2.mb-2 Сообщение с таблицей
				+message("incomin", bigtext, "15.08.2022 14:48", false, true)
				h4.mt-2.mb-2 Сообщение my request
				+message("incomin", bigtext, "15.08.2022 14:48", false, false, true, false, "До 14.09.2022")
				h4.mt-2.mb-2 Сообщение another request
				+message("incomin", bigtext, "15.08.2022 14:48", false, false, false, true, "До 14.09.2022")
				h4.mt-2.mb-2 Ответ на запрос с решением
				+message("incomin", bigtext, "15.08.2022 14:48", true, false, false, false, "До 14.09.2022", false, true, true, "14.09.2022")
				h4.mt-2.mb-2 Ответ на сообщение
				+message("incomin", bigtext, "15.08.2022 14:48", true, false, false, false, "До 14.09.2022", true, false, true, "14.09.2022", true)
				h4.mt-2.mb-2 Результаты опроса
				+message("incomin", question, "15.08.2022 14:48", false, false, false, false, "До 14.09.2022", false, false, false, "14.09.2022", false, true)
				h4.mt-2.mb-2 Опрос до выбора ответа
				+message("incomin", question, "15.08.2022 14:48", false, false, false, false, "До 14.09.2022", false, false, false, "14.09.2022", false, false, true)
				h4.mt-2.mb-2 Анонимный опрос с единственным вариантом ответа
				+message("incomin", question, "15.08.2022 14:48", false, false, false, false, "До 14.09.2022", false, false, false, "14.09.2022", false, false, false, true)
