extends ../layout/main.pug
include ../blocks/task-card/_task-card.pug

block variables
	- let  mainPage= null
	- let  bg= null
block title
	- let  title= index.head.title
	title= title
	- let bigtext = `<a href='#'>@Пользователь</a>, consectetur adipiscing elit. Morbi vel mi gravida, tincidunt nulla nec, porttitor libero. Vestibulum ut libero vel nunc hendrerit ullamcorper id eu lacus. Curabitur id eleifend nibh.`
	- let question = 'Запакеровались на глубине 1754.2 м. Что делаем дальше?'
block pagecontent
	.container(style="height: 100vh;")
		.p-2(style="height: 100%; background-color: #ffffff; display: flex; flex-flow: row wrap; justify-content: start; align-items: flex-start; align-content: flex-start; gap: 5px; overflow-y: scroll;")
			+task_card("success", 44, "--unread", "25.01.2019", "25.01.2019", "Поисково-разведочное бурение", 'Очень длинное название', true, "24 участника", 4, 6, 8)
			+task_card("caution", 55, "--read", "25.01.2019", "25.01.2019", "Поисково-разведочное бурение", 'Очень длинное название задачи oчень длинное название задачи', false, "24 участника", 4)
			+task_card("alert", 15, "--read", "25.01.2019", "25.01.2019", "Поисково-разведочное бурение", 'Очень длинное название задачи oчень длинное название задачи', false, "24 участника", 4)
			+task_card("draft", 23, "--read", "25.01.2019", "25.01.2019", "Поисково-разведочное бурение", 'Очень длинное название задачи oчень длинное название задачи', false, "24 участника", 4)
			+task_card("closed", 100, "--read", "25.01.2019", "25.01.2019", "Поисково-разведочное бурение", 'Очень длинное название задачи oчень длинное название задачи', true, "24 участника", 4)
			+task_card("disabled", 100, "--read", "25.01.2019", "25.01.2019", "Поисково-разведочное бурение", 'Очень длинное название задачи oчень длинное название задачи', true, "24 участника", 4)